<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657813468540-g1odkvm29e730uu9oontni8k6elaqu2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657813468540-g1odkvm29e730uu9oontni8k6elaqu2e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>657813468540-2mp00d3c5ocvdku04c3cm848rvoaadgu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCUyiE_RqQVlcbmEMK45idPDJVoGFSqCk</string>
	<key>GCM_SENDER_ID</key>
	<string>657813468540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-5909f</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-5909f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657813468540:ios:5bef2d6aa1bbb7bac520f9</string>
</dict>
</plist>